body, h1, h2, p, ul, li {
    margin: auto;
    padding: 0px;
    
}

header {
    background-color: #5746a4; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    font-size: xx-large;
    background-size: 200px;
}


main {
   
    max-width: auto; 
    margin: 0px; 
    padding: 20px; 
    background-image: url('AdobeStock_89540196.jpeg');
    background-repeat: no-repeat;
    background-size:cover; 
    background-color: #5746a4;
    color: #000000;
    font-family: Arial, sans-serif; 
    text-shadow: 1px 1px 0 #ffffffd4, -1px -1px 0 #ffffffd4, 1px -1px 0 #ffffffd4, -1px 1px 0 #ffffffd4;
    
}



footer {
    background-color: #5746a4; 
    color: #000000; 
    padding: 10px; 
    text-align: center;
}

.aquario {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 10px;
}

#peixe {
    position: absolute;
    width: 100px; 
    height: auto;
    top: 0; 
    left: 0; 
    transform-origin: left;
    animation: nadar 20s infinite linear; 
    
}

@keyframes nadar {
    to {
        left: 100%; 
        
    }
}

